body {
   background-color: rgb(20, 1, 1);
   color: aliceblue;
   font-size:large;
   font-family: serif;
}

.center {
   display: flex;
   justify-content:center;
   background-color: rgb(12, 5, 54);
}

button {
   border-style: solid;
   border-color: #001aff;
   font-size: large;
   margin: 0.05cm;
   padding: 0.05cm;
}

h1 {
   display: flex;
   background-color: #ff0000;
   color: rgba(255, 255, 255, 0.986);
   border-radius: 0.5rem;
   justify-content: center;
}

.baslik1 {
   display: flex;
   justify-content: center;
   background-color: blue;
   color: blanchedalmond;
}

.baslik2 {
   display: inline-block;
   background-color: blue;
   color: #fff;
   margin-left: 6.5cm;
}

.baslik3 {
   display: inline-block;
   background-color: blue;
   color: #fff;
   margin-left: 5cm;
}

.baslik4 {
   display: flex;
   justify-content: center;
   background-color: blue;
   color: blanchedalmond;
   position: relative;
   left: 8cm;
   bottom: 0.05cm;
}

.baslik5 {
   background-color: blue;
   color: white;
   position: absolute;
   right: 4cm;
}

img {
   float: right;
}

.iframe1 {
   margin-left: 2cm;
}

.iframe2 {
   margin-left: 1cm;
}

.iframe3 {
   position: absolute;
   top: 18.5cm;
   left: 20cm;
}

.gorsel2 {
   margin-right: 19.4cm;
   float:left;
   position: relative;
   bottom: 10.28cm;
}

.p2 {
   display:block;
   margin-left: 16cm;
}

.a3 {
   position: absolute;
   top: 18cm;
}
